.topBar {
  color: red;
  &:after {
    content: 'veee';
    display: block;
    background-color: #fff;
    color: #000;
  }
  .div-topBar {
    width: 200px;
    height: 200px;
    background-image: url('../../imgs/abc.png')
  }
}