<div id="topBar">
  <div class="logo">
    <img src="<%= require('@/assets/imgs/my_logo_white.png') %>" alt="">
  </div>
  <div class="nav">
    <span></span>
    <div class="my-shadow"></div>
    <div class="nav-list">
      <div name="home" class="nav-con nav-active">顶部</div>
      <div name="about" class="nav-con">关于我</div>
      <div name="services" class="nav-con">一些离骚</div>
      <div name="impact" class="nav-con">离骚</div>
      <div name="contact" class="nav-con">底部</div>
    </div>
  </div>
</div>