<div class="topBar">
  这里是顶部 top
  <img class="topImg" src="<%= require('@/imgs/email.png')%>" alt="">
  <div class="div-topBar"></div>
  <%= abc %>
  上面也是
  <%= require('@/components/some/index.ejs')() %>
  <%= require('@/components/one/index.ejs')() %>
</div>