#footer {
  padding: 60px 45px 0;
  width: 100%;
  min-width: $main;
  box-sizing: border-box;
  background: #232222;
  font-weight: lighter;
  & > ul {
    display: flex;
    justify-content: space-around;
    padding-bottom: 35px;
    border-bottom: 1px solid #656565;
    & > li {
      position: relative;
      h6 {
        margin-bottom: 50px;
        line-height: 1;
        font-size: 15px;
        color: #fff;
      }
      .contact {
        line-height: 1.8;
        font-size: 12px;
        color: #fff;
        a {
          text-decoration: none;
          font-size: 12px;
          color: #fff;
        }
      }
      .footer-input {
        margin: 0 auto;
        position: relative;
        width: 255px;
        height: $input-height;
        background: #4d4d4e;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
        input {
          &::-webkit-input-placeholder { /* WebKit browsers */
            color: #fff;
          }
          &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: #fff;
          }
          &::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: #fff;
          }
          &:-ms-input-placeholder { /* Internet Explorer 10+ */
            color: #fff;
          }
          &:focus {
            outline: none;
          }
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
          width: 200px;
          height: 18px;
          line-height: 18px;
          font-size: 12px;
          background: transparent;
          border: none;
          color: #fff;
        }
        span {
          position: absolute;
          right: 43px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 12px;
          color: #fff;
        }
        button {
          cursor: pointer;
          &:hover {
            background: #444444;
          }
          &:focus {
            outline: none;
          }
          position: absolute;
          top: 0;
          right: 0;
          width: 40px;
          height: $input-height;
          line-height: $input-height;
          border: none;
          background: transparent;
          .ivu-icon {
            margin-top: 10px;
            font-size: 20px;
            color: #fff;
          }
        }
      }
      .attention {
        width: 222px;
        display: flex;
        justify-content: space-between;
        li {
          display: block;
          width: 30px;
          height: 30px;
          font-size: 18px;
          background: #565456;
          a {
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
            text-align: center;
            line-height: 30px;
            background: #565456;
            text-decoration: none;
            i {
              background-color: #565456;
              height: 100%;
              width: 100%;
              color: #fff;
              font-size: 26px;
            }
          }
        }
      }
      & > img {
        position: absolute;
        z-index: 1000;
        left: 50%;
        display: none;
        transform: translateX(-50%);
        opacity: .9;
        bottom: 70px;
        width: 200px;
        height: 200px;
      }
    }
  }
  & > p {
    padding: 0 100px;
    height: 90px;
    // text-align: right;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #e1e1e1;
    line-height: 90px;
  }
}

@media (max-width: 800px) {
  #footer {
    min-width: $mobile_main;
    padding: rem(140rem) rem(100rem) rem(100rem) rem(140rem);
    & > ul {
      display: block;
      padding-bottom: rem(80rem);
      border-bottom: none;
      & > li {
        h6 {
          font-size: rem(36rem);
          margin-bottom: rem(50rem);
          text-align: center;
        }
        .contact {
          position: relative;
          font-size: rem(30rem);
          text-align: center;
          padding-bottom: rem(60rem);
          margin-bottom: rem(90rem);
          &:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            width: rem(200rem);
            height: 1px;
            background: $bg-linear;
          }
          a {
            font-size: rem(30rem);
          }
        }
        .footer-input {
          width: rem(720rem);
          height: rem(120rem);
          margin-bottom: rem(160rem);
          button {
            height: rem(120rem);
            line-height: rem(120rem);
            .ivu-icon {
              margin-top: 15px;
            }
          }
          &:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: rem(-60rem);
            transform: translateX(-50%);
            width: rem(200rem);
            height: 1px;
            background: $bg-linear;
          }
        }
        .attention {
          margin: 0 auto;
          width: rem(680rem);
          li {
            width: rem(95rem);
            height: rem(95rem);
            a {
              line-height: rem(95rem);
            }
          }
        }
        & > img {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: rem(95rem);
          width: rem(500rem);
          height: rem(500rem);
        }
      }
    }
    & > p {
      padding: 0;
      height: rem(35rem);
      line-height: rem(40rem);
      text-align: center;
      flex-direction: column;
    }
  }
}