<%= require('#/getHtml.js').up({title: '这里是首页'}) %>

<div id="index">
  <%= require('@/components/topBar/index.ejs')() %>
  <div class="index-box">
    <div class="home">
      <div>
        <div class="text-box_new">
          <div>thisPage</div>
          <div>这里是一些文字</div>
          <div>some code</div>
        </div>
        <span><img src="<%= require('@/assets/imgs/menu.png') %>" alt=""></span>
      </div>
    </div>
    <div class="about">
      <div>
        <h2>关于我</h2>
        <h3>这里是一些描述</h3>
      </div>
    </div>
    <div class="services">
      <div>
        <h2>这里是一些描述</h2>
        <div class="services-content">
          <div>
            <div></div>
            <h3>一些 &amp; 东西</h3>
            <p>《离骚》是中国战国时期诗人屈原创作的诗篇，是中国古代最长的抒情诗。此诗以诗人自述身世、遭遇、心志为中心。前半篇反复倾诉诗人对楚国命运和人民生活的关心，表达要求革新政治的愿望</p>
          </div>

          <div>
            <div></div>
            <h3>离骚</h3>
            <p>《离骚》是中国战国时期诗人屈原创作的诗篇，是中国古代最长的抒情诗。此诗以诗人自述身世、遭遇、心志为中心。前半篇反复倾诉诗人对楚国命运和人民生活的关心，表达要求革新政治的愿望</p>
          </div>

          <div>
            <div></div>
            <h3>《离骚》</h3>
            <p>《离骚》是中国战国时期诗人屈原创作的诗篇，是中国古代最长的抒情诗。此诗以诗人自述身世、遭遇、心志为中心。前半篇反复倾诉诗人对楚国命运和人民生活的关心，表达要求革新政治的愿望</p>
          </div>

          <div>
            <div></div>
            <h3>《离骚》</h3>
            <p>《离骚》是中国战国时期诗人屈原创作的诗篇，是中国古代最长的抒情诗。此诗以诗人自述身世、遭遇、心志为中心。前半篇反复倾诉诗人对楚国命运和人民生活的关心，表达要求革新政治的愿望；《离骚》是中国战国时期诗人屈原创作的诗篇，是中国古代最长的抒情诗。此诗以诗人自述身世、遭遇、心志为中心。前半篇反复倾诉诗人对楚国命运和人民生活的关心，表达要求革新政治的愿望</p>
          </div>
        </div>
      </div>
    </div>
    <div class="impact">
      <div>
        <h2>一个页面</h2>
        <div class="impact-content">
          <div>
            <div></div>
            <h3>对后世产生了深远影响</h3>
            <p>其主要注本有东汉王逸的《楚辞章句》、南宋朱熹的《楚辞集注》、清代戴震的《屈原赋注》等。</p>
          </div>

          <div>
            <div></div>
            <h3>对后世产生了深远影响</h3>
            <p>其主要注本有东汉王逸的《楚辞章句》、南宋朱熹的《楚辞集注》、清代戴震的《屈原赋注》等。</p>
          </div>

          <div>
            <div></div>
            <h3>对后世产生了深远影响</h3>
            <p>其主要注本有东汉王逸的《楚辞章句》、南宋朱熹的《楚辞集注》、清代戴震的《屈原赋注》等。</p>
          </div>

          <div>
            <div></div>
            <h3>对后世产生了深远影响</h3>
            <p>其主要注本有东汉王逸的《楚辞章句》、南宋朱熹的《楚辞集注》、清代戴震的《屈原赋注》等。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="contact">
      <div class="logo"></div>
      <p>这是我的页面</p>
      <div class="copyright">
        <div class="con">
          <div class="left">@thisPage.com, 2018, All rights reserved.</div>
          <div class="right">防伪声明</div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= require('#/getHtml.js').down() %>