<%= require('@/utils/getHtml.js').up({title: '这里是首页'}) %>
<%= require('@/components/topBar/index.ejs')({
  abc: 200
}) %>
<div class="div">
  <span>这里是index</span>
  <!-- <img src="< %= require('@/imgs/email.png') %>" alt=""> -->
</div>
<%= require('@/utils/getHtml.js').down() %>