body {
  padding: 0;
  margin: 0;
  background-color: skyblue;
  height: 400px;
  .div {
    // background-color: red;
    display: flex;
    width: 100%;
    height: 200px;
    border: 1px solid #fff;
    // background: url('../../imgs/bbb/fall.png') no-repeat;
  }
}