<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 百度验证代码 -->
  <meta name="baidu-site-verification" content="rQ2MQILzud" />
  <meta charset="utf-8">
  <!-- <title>BlockVC | 让区块链成为主流</title> -->
  <title>BlockVC | Bring Blockchain into Mainstream</title>
  <!-- 页面描述 -->
  <meta name="description" content="BlockVC投资方向覆盖了区块链生态系统中的基础设施、应用协议和金融服务等，所投资的项目均具备全球影响力" />
  <!-- 页面关键词 -->
  <meta name="keywords" content="blockvc,blockvc官网,blockvc 官网,blockvc.com,BLOCKVC,BlockVC,blockVc,Blockvc,Block-VC,block vc,block-vc,BlockVC官网,Blockvc.com,BlockVC.com,block" />
  <!-- 搜索引擎抓取 -->
  <meta name="robots" content="index,follow" />
  <!-- 启用360浏览器的极速模式(webkit) -->
  <meta name="renderer" content="webkit">
  <!-- 避免IE使用兼容模式 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- 不让百度转码 -->
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
  <!-- 优先使用 IE 最新版本和 Chrome -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="ico" type="image/x-icon" href="http://cm-web.oss-cn-beijing.aliyuncs.com/blockVc/img/favicon.ico">
  <link rel="shortcut icon" type="image/x-icon" href="http://cm-web.oss-cn-beijing.aliyuncs.com/blockVc/img/favicon.ico">
  <link rel="stylesheet" href="./iconfont/iconfont.css">
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="./css/animate.css">
</head>
<body>
  <!-- built files will be auto injected -->
  <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1274313984'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1274313984' type='text/javascript'%3E%3C/script%3E"));</script>
  <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1274326220'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1274326220' type='text/javascript'%3E%3C/script%3E"));</script>
  <div id="app" class="about">
    <!-- nav -->
    <div id="nav">
      <div class="nav-bg"></div>
      <nav>
        <a class="header-logo" to="/index.html">
          <img src="./img/header-logo.png" alt="BlockVc">
        </a>
        <div>
          <div class="list"></div>
          <div id="lang" class="lang canClick">
            <span></span>
            <i class="iconfont icon-xiasanjiao"></i>
            <ul class="lang-list">
              <li lang="zh">CN</li>
              <li lang="en">EN</li>
            </ul>
          </div>
          <i class="iconfont icon-caidan"></i>
        </div>
      </nav>
    </div>
    <!-- nav end -->
    <!-- index -->
    <div id="index">
      <!-- <nAv :innerWidth="innerWidth"></nAv> -->
      <div class="banner topHeader">
        <canvas id="bg-canvas"></canvas>
        <img class="banner_logo" src="https://cm-web.oss-cn-beijing.aliyuncs.com/blockVc/img/banner_logo.png">
        <h2 class="banner-title"></h2>
        <p id="banner-info" class="banner-info"></p>
        <ul class="banner-features">
          <!-- <li v-for='features in $t("index.features")'>{{features}}</li> -->
        </ul>
        <div class="input-box">
          <input type="text" placeholder="请输入您的邮箱">
          <div class="btn canClick">
            <span>
              <span></span>
              <i class="iconfont icon-feiji"></i>
            </span>
          </div>
        </div>
        <!-- <div class="banner-input">
            <label>
              <input type="email" :placeholder='$t("index.input")' v-model="email_inp">
            </label>
            <span>{{$t("index.span")}}</span>
            <button type="button" @click="email">
              <Icon type="paper-airplane"></Icon>
              <Spin fix v-if="loading">
                <Icon type="load-c" size=18 class="demo-spin-icon-load"></Icon>
              </Spin>
            </button>
          </div> -->
      </div>
      <!-- <div class="main">
          <h4>{{$t("index.main.title")}}</h4>
          <div class="main-info1">
            <p>
              <Icon type="ios-play-outline"></Icon>
              <span v-html='$t("index.main.info1")'></span>
            </p>
          </div>
          <div class="main-info2">
            <p>
              <Icon type="ios-play-outline"></Icon>
              <span v-html='$t("index.main.info2")'></span>
            </p>
          </div>
          <div class="main-info3">
            <p>
              <Icon type="ios-play-outline"></Icon>
              <span v-html='$t("index.main.info3")'></span>
            </p>
          </div>
        </div> -->
      <div class="VBC_title">
        <h3></h3>
        <div>
          <p id="VBC_title_one">
            <span></span>
            <span>-</span>
          </p>
           |
          <p id="VBC_title_two">
            <span></span>
            <span :class="Change >= 0 ? 'rise':'fall'">
              <img src="">
              <span>-</span>
            </span>
          </p>
        </div>
      </div>
      <a class="routerHighcharts canClick" href="./Indices">
        <div class="highcharts-container"></div>
        <div class="shake-box onLoading"></div>
      </a>
    </div>
    <!-- index end -->
    <!-- footer -->
    <div id="footer">
      <ul>
        <li>
          <h6></h6>
          <ul class="contact"></ul>
        </li>
        <li>
          <h6></h6>
          <ul class="attention">
            <li>
              <a href="https://twitter.com/blockvcfund" target="_blank">
                <i class="iconfont icon-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/blockvc/" target="_blank">
                <i class="iconfont icon-linkedin1"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void();">
                <i class="iconfont icon-wechat"></i>
              </a>
            </li>
          </ul>
          <img class="wechat_img" src="https://cm-web.oss-cn-beijing.aliyuncs.com/blockVc/img/wechat.jpg" alt="">
          <!-- <img v-show="coinmeet_img" src="http://cm-web.oss-cn-beijing.aliyuncs.com/blockVc/img/coinmeet.png" alt=""> -->
        </li>
      </ul>
      <p id="footer-tip">
        <span>@blockvc.com, 2018, All rights reserved</span><span></span>
      </p>
    </div>
    <!-- footer end -->
  </div>
</body>
</html>
<script src="./js/jquery.min.js"></script>
<script src="./js/main.js"></script>
<script src="./lang/zh_Indices.js"></script>
<script src="./lang/en_Indices.js"></script>
<script src="./lang/en.js"></script>
<script src="./lang/zh.js"></script>
<script src="./js/bezierCanvas.js"></script>
<script src="./js/highstock.js"></script>
<script src="./js/index.js"></script>
<script src="./js/nav.js"></script>
<script src="./js/footer.js"></script>