<%= require('@/utils/getHtml.js').up({title: '这里是homePage'}) %>
<div class="homePage">
  <span>这里是homePage</span>
  <img src="<%= require('@/imgs/email.png') %>" alt="">
</div>
<%= require('@/utils/getHtml.js').down() %>